*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 255, 255);
}
.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
}
nav {
    background-color: #7E99A3;
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    left: 30px;
}
nav div h4 {
    margin-bottom: 15px;
    margin-top: 23px;
    margin-right: 308px;
    margin-left: 15px;
    font-weight: 500px;
    color: white;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
}
nav div img {
    width: 100px;
}
nav ul li a {
    text-decoration: none;
    font-family: "Segoe UI" 'Segoe UI', sans-serif;
    color: white;
    font-weight: 500;
    /* padding: 0px 5px; */
}
nav ul li a:hover {
    border-bottom: 1px solid white;
    color: white;
}
.logo-circle {
    border-radius: 50%;
    overflow: hidden;
    margin-top: 4px;
    width: 100px;
}
.teks1 h1 {
    margin-top: 15px;
    margin-left: 0px;
}
.teks1 h4 {
    margin-left: 20px;
    margin-top: 10px;
}
.teks2 h4 {
    margin-left: 25px;
    margin-top: 10px;
}
.grid-fasilitas h4 {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    float: left;
    margin-right: 20px;
    margin-left: 25px;
}
 .grid-fasilitas  h3{
    margin-left: 20px;
    color: white;
}
.grid-fasilitas>article{
    border-radius: 60px;
    background: #7E99A3;
    width: 200px;
    transition: transform;
    position: absolute;
    margin-left: 300px;
    margin-top: 100px;
    margin-left: 35px;
}

.grid-fasilitas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto; 
    align-items: center;
    grid-gap: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto; 
    align-items: center;
    grid-gap: 50px;
    margin-bottom: 40px;
    justify-content: center; 
    margin-bottom: 40px;
    justify-content: center; 
    
    
}
.grid-fasilitas>article{
    border-radius: 60px;
    background: #7E99A3;
    width: 400px;
    transition: transform;
    position: absolute;
    margin-left: 450px;
    margin-right: 25px;

}
.grid-fasilitas h4 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    color: white;

}
.testulis h4 {
    position: absolute;
    border-radius: 20px;
    left: 150px;
    margin-top: 50px;
    color: black;
}

.kotak {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}
.kotak img{
    width: 400px;
  height: 250px; 
  object-fit: cover; 
  margin-top: 100px;
  border-radius: 20px;
  margin-left: 45px;

}
.ebew h4 {
    position: absolute;
    border-radius: 20px;
    right: 200px;
    margin-bottom: 50px;
    margin-top: -300px;
    color: black;

}
.ebew {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.ebew img {
    position: absolute;
    border-radius: 20px;
    right: 80px;
    margin-top: -249px;
    height: 250px;
    width: 400px;
}
.hapus h4 {
    position: absolute;
    border-radius: 20px;
    right: 200px;
    margin-bottom: 50px;
    margin-top: -15px;
    color: black;
}
.hapus {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.hapus img {
    position: absolute;
    border-radius: 20px;
    right: 80px;
    margin-top: 200px;
    margin-bottom: 50px;
    height: 250px;
    width: 400px;
}





