*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    background-color: white;
}

.text {
    left: 20rem;
    position: relative;
    top: 10px;
}

nav {

    background-color: #7E99A3;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 100;
    position: relative;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

nav ul li a {
    text-decoration: none 100px;
    font-family: 'Segoe UI', sans-serif;
    color: azure;
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
}

.logo circle {
    width: 80px;
    border-radius: 80%;
    top: 80;

}

.person{
    position:absolute;
    height: 10px;
    width: auto;
    left: 43rem;
    top: 60rem;
}

.person2{
    position:absolute;
    height: 10px;
    width: auto;
    right: 10rem;
    top: 90rem;
}

.person3{
    position:absolute;
    height: 10px;
    width: auto;
    left: 10rem;
    top: 90rem;
}


.terserah{
    position: absolute;
    text-align: center;
    width: 100%;
}

.terserah2{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 110rem;
}

.terserah3{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 120rem;
}

.terserah4{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 130rem;
}

.terserah2 h4 {
    position: absolute;
    left: 40rem;
    background-color:cadetblue;
    border-radius: 10px;
}

.terserah3 h4 {
    position: absolute;
    /* left: 5rem; */
    background-color:cadetblue;
    border-radius: 10px;
}

.terserah4 h4 {
    position: absolute;
    /* left: 5rem; */
    background-color:cadetblue;
    border-radius: 10px;
}



nav ul li a:hover {
    color: black;
    border-bottom: 1px solid;

}

.logo img {
    position: relative;
    left: 5rem;
    border-radius: 70px;
}

.aw {
    margin-right: 700px;
}

.foto img {
    width: 100%;
}

.footer {
    background-color: #7E99A3;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto; 
}

.footer .footer-left {
    color: #EBD9C8;
    font-size: 18px;
    text-align: left;
}

.footer .footer-left span {
    display: block;
    font-weight: bold; 
}
.footer .footer-left .jalan {
    color: white;
    font-size: 12px; 
    margin-top: 5px;
}
.footer .footer-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px; 
    font-weight: 600; 
}

.footer .footer-middle-links {
    display: flex;
    gap: 40px; 
}

.footer .footer-middle a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}
.footer .footer-middle a:hover {
    color: black;
    text-decoration: none;
}
.footer .footer-middle-email {
    color: white;
    margin-top: 20px; 
    font-size: 16px;
}
.footer .footer-right {
    font-size: 16px;
    color: white;
    text-align: left; 
    width: 300px; 
}
.footer .footer-right span {
    display: block;
    margin-bottom: 7px; 
}
